/* General
================================================
*/

body {
    font-family: apple-system;
    font-size: 20px;
    line-height: 24px;
    background-color: white;
    /* color: black; */
}
#example{
    background-image: linear-gradient(rgb(217, 174, 229), #d08ee8);
}

.btn{
    background-color: #ac20e3;


}
.footer {
    margin-top: 20vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    text-align: center;
    background-color: #4E008B;
}

.text {
    display: inline-block;
    color: white;
}

#imageSize {
    height: 30vh;
    width: 30vw;
}

.nav {
    background-color: #b3e5fc;
}

.nav-wrapper {
    background-color: #BA4EE5;
}

.nav-link {
    font-size: 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #BA4EE5;
    margin-right: 150px;
  }
  
  li {
    float: right;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #ac20e3;
  }
  
  .active {
    background-color: #04AA6D;
  }
.user-image-size {
    height: 50px;
    width: 120px;
    margin: 5px 10px;
}

/* write media query to check user image size 993px */
#clickMeButton {
    margin-top: 30px;
    margin-bottom: 30px;
}

#cardImg {
    height: 300px;
}

/* .modal-fixed-footer {
    background-color: transparent;
    box-shadow: none;
} */

/* .modal-content {
    box-shadow: inset;
} */